
.header {
    padding: 1rem 0 3rem;
}
.title{
    color: #f8b195;
    font-size: 2rem;
    text-decoration: none;
}

.title:hover{
    color: #f67280;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #f8b195;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #f67280;
}

.active-nav-item {
    color:#c06c84;
}